.main-admin {
  /* background-image: url("/src/components/images/pozadina.jpg"); */
  background-color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.features {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 10px;
  
}
.notes{
  background-color: #808080;
  height: 200px;
  padding: 10px;
  margin: 20px;
  width: 80%;
  cursor: pointer;
}
hr{
  border: 1px solid black;
}
