.footer {
    display: flex;
    height: 75px;
    width: 100%;
    background-color:#808080;
   
    color: black;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}